@{
    ViewData["Title"] = "MADWORDS";

    var random = new Random();
    string[] write = { "Write", "Scribble", "Create", "Compose", "Sling", "Shoot", "Journal", "Ink", "Jot down", "Sign", "Scrawl" };
    string writeTitle = write[random.Next(write.Length)];

    ViewData["Create"] = writeTitle + " some MADWORD";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MADWORDS</h1>
    <h4>The website that lets you make crazy stories. Have fun reading others peoples MADWORDS or create your own! Just enter in the types of words the game asks for and when you're all done hit submit.</h4>
    <br />
    <p><button type="button" class="btn btn-primary btn-lg"><a class="nav-link text-white" asp-area="" asp-controller="Madword" asp-action="Create">Get started making your own MADWORD</a></button></p>
    <p><button type="button" class="btn btn-primary btn-lg"><a class="nav-link text-white" asp-area="" asp-controller="Madword" asp-action="Index">Read other peoples MADWORDS</a></button></p>
</div>