@model List<Update>

@{
    ViewData["Title"] = "Updates";
}

@foreach (Update update in Model)
{
    <div class="container mt-3 shadow p-5 text-left">
        <h4>@update.UpdateTitle</h4>
        <p><small>@update.UpdateDate</small></p>
        <p>@update.UpdateText</p>
    </div>
}

@if (Model.Count == 0)
{
<div class="container mt-3 p-5 text-center">
    <p>There aren't any updates yet.</p>
</div>}